.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: white;
    border-color: #adadad;
}

.buttons, button, .btn {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

.ct-label {
    font-size: 1rem;
}

.logo {
    background: #ededed url(../images/logo.svg);
    background-position: center;
    margin: 0;
    display: block;
    background-size: 145px 40px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.nav-sm .logo {
    background-image: url(../images/logo_small.svg) ;
}

.site_title {
    background: #ededed;
    height: 58px !important;
    padding: 0 !important;
}

.navbar {
    border: 0;
}

.left_col {
    height: 100%;
    z-index: 0 !important;
}